@{
    ViewBag.Title = "SorryPage";
    Layout = "~/Views/Shared/_Layouthome.cshtml";
}

<div id="style-1" class="container">
    <div class="col-sm-12 tournament-header" style="">
        <h1 class="t-heading">Sorry!!</h1>
    </div>
    <br /><h1 style="color:red">:( </h1>
    <br /><h1 style="color:red">@Session["error"]</h1>
</div>
