@{
    ViewBag.Title = "SecurityCode";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}
<br /><br /><br /><br />
<div id="style-1" class="container">
    <div class="loginmodal-container" style="background-color: #FFB63E">
        <form action="/Main/EnterCode" method="post">
            <h1>Enter Security Code Here</h1><br>

            <input type="text" name="code1" style="width:300px" class="loginmodal" placeholder="Enter Security code here" required>
            <br /><br />
            <input type="submit" name="" class="login loginmodal-submit" value="Submit Your Code">
        </form>
    </div>
   

</div>