@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<br /><br /><br />
<div id="style-1" class="container">
    <br /><br />
    @if (ViewBag.list!=null)
    {
           foreach (var u in ViewBag.list)
        {
               
        <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <label class="playerNick">@u.Team_name</label>
            </div>
            <div class="col-md-4">
                <label class="playerNick">@u.Captain_name</label>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success" style=" float: right; height: 50px; width: 100px; background-color: rgba(0, 0, 0, 0.86); border-color: rgba(0, 0, 0, 0.86); margin-bottom: 5px; color: #13e56e; margin-left: 40%;" onclick="JoinTeam(@u.Id)">Join Now</button>
            </div>
            <script>
                function JoinTeam(Id) {
                    $.getJSON("/Main/JoinRequest?id=" + Id, function (t) {
                        if (t == true) {
                            $('#JoinModal').modal('show');
                        }
                        else {
                            $('#Error').modal('show');
                        }
                    })
                           
                       
                    
                }
            </script>
        </div>
    </div>
     }
    
        
    }
    else
    {
        <div id="style-1" class="container">
            <div class="col-sm-12 tournament-header" style="">
                <h1 class="t-heading">Sorry!!</h1>
            </div>
            <h1 style="color:#FFB63E">:( <br /> there is no space in any team. You can create your own team</h1>
        </div>
    }
    <!-- Instruction to create team Modal -->
    <div id="CreateTeam" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style=" width:inherit">

            <!-- Modal content-->
            <div class="modal-content" style="width: 50%; margin-left: 25%; padding-left: 20px; padding-right: 20px;  background-color: rgba(255, 182, 62, 0.71); color:white; font-family:Candara">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="font-size: 25px;color: #0ed364; text-align: center">Instructions</h3>
                </div>
                <div class="modal-body" style="font-size:25px">
                    <p>if you create a team, you will be team captain<br />Whenever wants to add in your team, we will send a verification code to you and if you want to want to add that particular person in your team, you have tell him/her this verfication code </p>
                    <p>You will be responsible to start a game</p>
                    <p>You can add any member in your team if you want</p>
                    <p>You can also watch your team</p>
                    <p>For the tournaments, only you can signup as a team</p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="height:50px; width:200px" class="btn btn-success" onclick="MyFunction()" id="btnModalTigger">
                        Continue
                    </button>
                    <button type="button" style="height:50px; width:200px" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <script>
                    function MyFunction() {
                        $('#CreateTeam').modal('hide');
                        $('#CreateTeamCaptain').modal('show');
                    }
                </script>
            </div>

        </div>
    </div>

    <!--Join Team Modal -->
    <div id="JoinModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style=" width:inherit">

            <!-- Modal content-->
            <div class="modal-content"style ="width: 50%; margin-left: 25%; padding-left: 20px; padding-right: 20px;  background-color: rgba(255, 182, 62, 0.71);  color:white; font-family:Candara">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="font-size: 25px; color: #0ed364; text-align: center">Successful</h3>
                </div>
                <div class="modal-body" style="font-size:25px">
                    <p>Dear player, Your Request and Security has been to your Team captain</p>
                    <p>Ask security code to team captain and enter below</p>
                    <p>You can be a part of this team only when you enters the Security Code</p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="height:50px; width:200px" class="btn btn-success" onclick="CaptainAsk()" id="btnModalTigger">
                        Ask Code To Your Captain
                    </button>
                    <button type="button" style="height:50px; width:200px" class="btn btn-success" onclick="SecurityCode()" id="btnModalTigger">
                        Enter Security Code
                    </button>
                    @*<button type="button" style="height:50px; width:100px" class="btn btn-default" data-dismiss="modal">Close</button>*@
                </div>
                <script>
                    function SecurityCode() {
                        $('#JoinModal').modal('hide');
                        $('#SecurityModal').modal('show');
                      
                    }
                    function CaptainAsk() {
                        $.getJSON("/Main/AskCaptain", function (t) {
                            if (t == true) {
                                $('#CaptainRequest').modal('show');
                            }
                        })
                    }
                </script>
            </div>

        </div>
    </div>

    <!-- Modal Create Team-->
    
    <div class="nav navbar-nav navbar-right">

        <div class="modal fade" id="CreateTeamCaptain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container" style="background-color: rgba(255, 182, 62, 0.71);">
                    <h1>Create Your Team</h1><br>
                    <form action="/Home/CreateTeam" method="post">
                        <input type="text" name="TName" placeholder="Team Name" required>
                        Captain Name <input type="text" name="CName" readonly="true" placeholder="@Session["username"]">
                        Invite a Player(optional)
                        <input type="email" name="PEmail" placeholder="Player's Email" style="height:40px; width:290px;">
                        <br /><br />
                        <input type="submit" name="" class="login loginmodal-submit" value="Create Your Team">
                    </form>


                </div>
            </div>
        </div>
    </div>
   
    <!-- Security Modal-->

    <div class="nav navbar-nav navbar-right">

        <div class="modal fade" id="SecurityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container" style="background-color: rgba(255, 182, 62, 0.71);">
                    <h1>Enter Security Code Here</h1><br>
                    <form action="/Main/EnterCode" method="post">
                        <input type="text" name="code1" placeholder="Enter Security code here" required>

                        <input type="submit" name="" class="login loginmodal-submit" value="Submit Your Code">
                    </form>


                </div>
                <div>
                    <button type="button" style="height:50px; width:100px" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Error Model-->

    <div class="nav navbar-nav navbar-right">

        <div class="modal fade" id="Error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container" style="background-color: rgba(255, 182, 62, 0.71);">
                    <h1 style="color: #0ed364; text-align: center">Sorry</h1><br>
                   <p style="color:white;font-size:20px;">You might be a player of another team. or team is full</p>


                </div>
            </div>
        </div>
    </div>

    <!--Captain request Model-->

    <div class="nav navbar-nav navbar-right">

        <div class="modal fade" id="CaptainRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container" style="background-color: rgba(255, 182, 62, 0.71);">
                    <h1 style="color: #0ed364; text-align: center">Sucesss</h1><br>
                    <p style="color:white;font-size:20px;">We have send Your request to captain. Wait until he sends you the security code</p>


                </div>
            </div>
        </div>
    </div>
    <!--end-->
   <br /><br />


    </div>
